
<div class="left">
    <h1>Chat with user in same component - module state</h1>
    <input type="text" placeholder="username" #name>
    <input type="text" placeholder="message" #text>

    <button (click)="addMessage(name.value, text.value)" style="width: 45%;"> Send message! </button>
    <button (click)="addPartialMessage(name.value, text.value)" style="width: 45%;"> Send username! </button>
</div>

<ol>
    <li *ngFor="let message of store.chat$ | async; let i = index">
        {{ message.username }} : {{ message.text }}
    </li>
</ol>